<!doctype html>

<html lang="en">
	<head>
	  	<meta charset="utf-8">
		<title>Linsey Chat</title>
	  	<link rel="stylesheet" href="">
	</head>
	<body>
		<script src="../static/scripts/handlebars-v4.0.12.js"></script>
		
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/styles/stylesheet.css">

		<script id="name-script" type="text/x-handelbars-template">
			{% raw -%}
				<div id="username" class={{ name }}> Hi, {{ name }}! </div>
			{%- endraw %}
		</script>

		<script id="channels-script" type="text/x-handelbars-template">
			{% raw -%}
				{{#each channels}}
					<div class="channel" id="{{@key}}">{{@key}}</div>
				{{/each}}
			{%- endraw %}
		</script>

		<script id="messages-script" type="text/x-handelbars-template">
			{% raw -%}
				{{#each messages}}
					<div id="{{this.[3]}}" class="chat">
						<div class="row message-info">
							<div class="sender">{{this.[1]}}</div>
							<div class="time"> {{this.[2]}}</div>
							<span class="delete">&times;</span>
						</div>
						<div class="sent-message">{{this.[0]}}</div>
					</div>
				{{/each}}
			{%- endraw %}
		</script>

		<script>



			function linksClickable(){
				let channelLinks = document.querySelectorAll('.channel')
	 				Array.from(channelLinks).forEach(link => {
	 					link.addEventListener('click', function(event) {
	 						oldSelection = document.querySelector('#selected-channel');
	 						if (oldSelection){
	 							oldSelection.removeAttribute("id");
	 						}
	 						link.id = "selected-channel";
	 						localStorage.selectedChannel = link.innerHTML;
	 						document.querySelector('.channel-title').innerHTML = link.innerHTML;
	 						let channels = {{ channels|safe }}
	 						socket.emit('update messages')
	 						updateMessages(channels)
	 					});
	 				});
			}

			function messageDelete(message, channel){
				console.log(message.id)
				console.log(channel)

				socket.emit('delete message', message.id, channel)
			}

			function addDeletes(){
				chats = document.querySelectorAll('.chat');
				console.log(chats.length)
				for(let i=0; i<chats.length; i++) 
				{
					if (chats[i].querySelector('.sender').innerHTML == localStorage.name){
						chats[i].querySelector('.delete').onclick = () => {
							let channel = document.querySelector('#selected-channel').innerHTML
							console.log(channel)
							messageDelete(chats[i], channel)
						}
						chats[i].onmouseover = () => {
							chats[i].querySelector('.delete').style.visibility = "visible"
						}
						chats[i].onmouseout = () => {
							chats[i].querySelector('.delete').style.visibility = "hidden"
						}
					}
				}
			}

			function updateMessages(channels){

				let channel = document.querySelector('#selected-channel').innerHTML
	        	let messages = channels
	        	//console.log("-----------------")
	        	//console.log(channel)
	         	//console.log(messages[channel])
	         	const content = messagesTemplate({'messages': messages[channel]});
	         	//console.log(content)
	         	document.querySelector('.chats').innerHTML = content
	         	document.querySelector(".chats").scrollTo(0, document.querySelector(".chats").scrollHeight)
	         	addDeletes()
			}

			function sendMessage(){
				let message = document.querySelector('.message').value;
		    	let username = localStorage.name;
		    	let channel = document.querySelector('#selected-channel').innerHTML;
		    	let today = new Date();
		    	let date = (today.getMonth()+1)+'-'+today.getDate()+'-'+today.getFullYear();
		    	let minutes = ('0'+ today.getMinutes()).slice(-2)
		    	let time = today.getHours() + ":" + minutes;
		    	let dateTime = date+' '+time;
		    	console.log(username)
		    	if (message != "" && channel != "" && username != undefined && dateTime != undefined)
		    	{
		    		//console.log(message.length)
			    	socket.emit('submit message', [channel, message, username, dateTime])
			        //console.log(message)
			        document.querySelector('.message').value = "";
			        resetHeight(document.querySelector('.message'))
			    }
			    else{
			    	document.querySelector('.message').value = "";
			    	resetHeight(document.querySelector('.message'))
			    }
			}

			function sendFile(){
				let file = document.querySelector('.file');
		    	let username = localStorage.name;
		    	let channel = document.querySelector('#selected-channel').innerHTML;
		    	let today = new Date();
		    	let date = (today.getMonth()+1)+'-'+today.getDate()+'-'+today.getFullYear();
		    	let minutes = ('0'+ today.getMinutes()).slice(-2)
		    	let time = today.getHours() + ":" + minutes;
		    	let dateTime = date+' '+time;
		    	console.log(username)
		    	if (file != "" && channel != "" && username != undefined && dateTime != undefined)
		    	{
		    		//console.log(message.length)
			    	socket.emit('submit file', file)
			        //console.log(message)
			        
			        resetHeight(document.querySelector('.message'))
			    }
			    else{
			    	
			    	resetHeight(document.querySelector('.message'))
			    }
			}

			function hideModal(modal){
				console.log(modal)
				modal.style.visibility = "hidden"
			}

			function showModal(modal){
				modal.style.visibility = "visible"
			}




			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

			document.addEventListener('DOMContentLoaded', () => {
				document.querySelector('.channel-create-button').onclick = () => {
	        		const newChannel = document.querySelector(".channel-input").value.trim()
	        		//console.log(channel)
	        		if(newChannel != ""){
	                	socket.emit('submit channel', newChannel);
	                	localStorage.selectedChannel = newChannel
	                	document.querySelector('.channel-input').value = ""
	                	socket.emit('update messages')
	                	hideModal(document.querySelector('.channel-submit-container'));
	                	document.querySelector('.channel-title').innerHTML = newChannel;

	        		}  
			    };

			    

		        document.querySelector('.channel-close').onclick = () => {
		        	hideModal(document.querySelector('.channel-submit-container'))
		        }

		        document.querySelector('.file-close').onclick = () => {
		        	hideModal(document.querySelector('.file-submit-container'))
		        }

		        hideModal(document.querySelector('.channel-submit-container'))
			    // When connected, configure buttons
			    

			    // When a new channel is announced, add to the channel section
			    socket.on('channel list', updatedChannels => {
			    	const channelsTemplate = Handlebars.compile(document.querySelector('#channels-script').innerHTML);
			    	const content = channelsTemplate({'channels': updatedChannels })
			        document.querySelector('.channel-list').innerHTML = content;
			        document.querySelector(`#${CSS.escape(localStorage.selectedChannel)}`).id = "selected-channel";
			        document.querySelector(".channel-list-container").scrollTo(0, document.querySelector(".channel-list-container").scrollHeight)
			        linksClickable()
			    });

			     // When a new channel is announced, add to the channel section
			    socket.on('message update', updatedChannels => {
					updateMessages(updatedChannels)
			    });

			    socket.on('new user', bool => {
			    	if (bool)
			    	{
			    		let name = document.querySelector('.name-input').value;
	                    localStorage.setItem("name", name);
	                    const content = nameTemplate({'name': name});
	                    //console.log(content)
	                    document.querySelector('#greeting').innerHTML += content;
	                    document.querySelector('.name-submit-container').outerHTML = "";
			    	}
			    	else{
			    		document.querySelector('.name-taken').innerHTML = "Sorry that name is taken"
			    	}
			    });

			    
			});


			function autoGrow(element) {
				if (event.keyCode != 13) {
					element.style.transitionDuration = "0s";
			    	element.style.height = "5px";
			    	element.style.height = (element.scrollHeight)+"px";
			    }
			}

			function sendMessageOnEnter(event) {

			    if (event.keyCode == 13) {
			    	event.preventDefault()
			    	sendMessage()
			    }
			    else if (document.querySelector('.message').value == ""){
			    	resetHeight(document.querySelector('.message'))
			    }
			}

			function resetHeight(element){
				element.style.transitionDuration = "0.4s";
				element.style.height = "28px";
			}



            
            const nameTemplate = Handlebars.compile(document.querySelector('#name-script').innerHTML);

            const channelsTemplate = Handlebars.compile(document.querySelector('#channels-script').innerHTML);

            const messagesTemplate = Handlebars.compile(document.querySelector('#messages-script').innerHTML);

            document.addEventListener('DOMContentLoaded', () => {
            	document.querySelector('.channel-modal-button').onclick = ()  => {
                	showModal(document.querySelector('.channel-submit-container'))
            	}
            	if(localStorage.name){
  					hideModal(document.querySelector('.name-submit-container'))
            		const content = nameTemplate({'name': localStorage.name});
            		document.querySelector('#greeting').innerHTML += content;
            	}
            	else{
            		showModal(document.querySelector('.name-submit-container'))
            		document.querySelector('.name-button').onclick = ()  => {
                		//console.log("clicked")
                		
	                	if(document.querySelector('.name-input').value != "")
	                	{
	                		document.querySelector('.name-taken').innerHTML = ""
	                		socket.emit("submit user", document.querySelector('.name-input').value)
	                	}
	                
            		}
            	}
            });

             document.addEventListener('DOMContentLoaded', () => {
             	let channels = {{ channels|safe }}
             	console.log(channels)
            	const content = channelsTemplate({'channels': channels })
            	document.querySelector('.channel-list').innerHTML += content;
            	autoGrow(document.querySelector('.message'))
            });
 
 			document.addEventListener('DOMContentLoaded', () => {
 				let message = document.querySelector('.message');
 				
             	message.oninput = ()  => {
             		autoGrow(message);
             	}

             	//console.log("message")
             	message.onkeydown = ()  => {
             		sendMessageOnEnter(event);
             	}

             	document.querySelector('.send-message-button').onclick = () => {
             		sendMessage()
             	}

             	

            });

            document.addEventListener('DOMContentLoaded', () => {
            	//Checks local storage for selection else defaults to top channel
            	let stored = localStorage.selectedChannel;
            	let channels = {{ channels|safe}}
            	//console.log(channels[stored])
            	if (channels[stored] != null){
            		//CSS.escape used to prevent edgecase errors
            		localStorage.selectedChannel = document.querySelector(`#${CSS.escape(stored)}`).id
            		document.querySelector(`#${CSS.escape(stored)}`).id = "selected-channel";
            	}
            	else{
            		selection = document.querySelector('.channel')
            		localStorage.selectedChannel = selection.id
            		selection.id = "selected-channel";
            	}

            	//.onclicks added to each link allowing the slection to be changed
 				linksClickable()
 				updateMessages(channels)
 				document.querySelector('.channel-title').innerHTML = document.querySelector('#selected-channel').innerHTML;
            });


		
            
        </script>
        <div class="chat-head">
        			<div class="site-title">
        				Linscord
					</div>
					<div class="channel-title">
					</div>
		</div>
		<div class="row chat-row">
			<div class="channel-container col-2">
				<div class="channel-list-container">
					<div class="greeting-container">
						<div id="greeting">
						</div>
					</div>
					<div class="channel-create">
						<button type="button" class="channel-modal-button btn btn-light"">New Channel</button>
					</div>
					<div class="channel-list">
					</div>
				</div>
			</div>
			<div class="chats-container col-10">
				
				<div class="chats">
				</div>
				<div class="messagebar">
					<textarea rows="1" cols="50" class="message" placeholder="Linskcord Message"></textarea>
					<button type="button" class="send-message-button"><img id="send-image-picture" src="../static/images/send.png" alt="Send"></button>
					
				<div>
			</div>
		</div>

		<div class="name-submit-container modal">
			<div class="name-submit modal-content">
				<div class="modal-header">
			    	<div class= "modal-header-text">
			    		<h2>Welcome to Linscord!<h2>
			    	</div>
			    </div>
			    <div class="modal-body">
			   		<div class="input-continer">
						<input type="text" class="name-input" placeholder="What Should We Call you?" maxlength="10">
					</div>
					<div class="name-taken">
					
					</div>
					<div class="button-continer">
						<button type="button" class="name-button btn btn-light">Submit</button>
					</div>
				</div>
			</div>
		</div>

		<div class="channel-submit-container modal">
			<div class="channel-submit modal-content">
				<div class="outer-modal">
					<span class="close channel-close">&times;</span>
					<div class="modal-header">
			      		<div class= "modal-header-text">
			      			<h2>Submit a new channel<h2>
			      		</div>
			    	</div>
			    </div>
			    <div class="modal-body">
			    	<div class="channel-input-continer">
						<input type="text" class="channel-input" maxlength="20" placeholder="Crate New Channel">
					</div>
					<div class="button-continer">
						<button type="button" class="channel-create-button btn btn-light">Submit</button>
					</div>
				</div>
			</div>
		</div>

		

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.1.0/trianglify.min.js"></script>
	</body>
</html>