<!doctype html>

<html lang="en">
	<head>
	  	<meta charset="utf-8">
		<title>Linsey Chat</title>
	  	<link rel="stylesheet" href="">
	</head>
	<body>
		<script src="../static/scripts/handlebars-v4.0.12.js"></script>
		<script src="../static/scripts/messagebox.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/styles/stylesheet.css">

		<script id="name-script" type="text/x-handelbars-template">
			{% raw -%}
				<div id="username" class={{ name }}> Hello {{ name }} </div>
			{%- endraw %}
		</script>

		<script id="channels-script" type="text/x-handelbars-template">
			{% raw -%}
				{{#each channels}}
					<div class="channel" id="{{@key}}">{{@key}}</div>
				{{/each}}
			{%- endraw %}
		</script>

		<script id="messages-script" type="text/x-handelbars-template">
			{% raw -%}
				{{#each messages}}
					<div class="row">
						<div class="sender ">{{this.[1]}}</div>
						<div class="time ">{{this.[2]}}</div>
					</div>
					<div class="sent-message">{{this.[0]}}</div>
				{{/each}}
			{%- endraw %}
		</script>

		<script>

		function linksClickable(){
			let channelLinks = document.querySelectorAll('.channel')
 				Array.from(channelLinks).forEach(link => {
 					link.addEventListener('click', function(event) {
 						oldSelection = document.querySelector('#selected-channel');
 						if (oldSelection){
 							oldSelection.removeAttribute("id");
 						}
 						link.id = "selected-channel";
 						localStorage.selectedChannel = link.innerHTML;
 						let channels = {{ channels|safe }}
 						socket.emit('submit message', [])
 						updateMesages(channels)
 					});
 				});
		}

		function updateMesages(channels){

			let channel = document.querySelector('#selected-channel').innerHTML
        	let messages = channels
        	//console.log("-----------------")
        	//console.log(channel)
         	//console.log(messages[channel])
         	const content = messagesTemplate({'messages': messages[channel]});
         	//console.log(content)
         	document.querySelector('.chats').innerHTML = content
		}



		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

		document.addEventListener('DOMContentLoaded', () => {
		    // When connected, configure buttons
		    socket.on('connect', () => {
		        // Each button should emit a "submit vote" event
		        document.querySelector('.channel-create-button').onclick = () => {
		        		const channel = document.querySelector(".channel-input").value.trim()
		        		//console.log(channel)
		        		if(channel != ""){
		                	socket.emit('submit channel', channel);
		                	localStorage.selectedChannel = channel
		                	document.querySelector('.channel-input').value = ""
		        		}  
		        };
		       
		    });

		    // When a new channel is announced, add to the channel section
		    socket.on('channel list', updatedChannels => {
		    	const channelsTemplate = Handlebars.compile(document.querySelector('#channels-script').innerHTML);
		    	const content = channelsTemplate({'channels': updatedChannels })
		        document.querySelector('.channel-list').innerHTML = content;
		        document.querySelector(`#${CSS.escape(localStorage.selectedChannel)}`).id = "selected-channel";
		        linksClickable()
		    });

		     // When a new channel is announced, add to the channel section
		    socket.on('message update', updatedChannels => {
				updateMesages(updatedChannels)
		    });

		    
		});


		function autoGrow(element) {
			if (event.keyCode != 13) {
				element.style.transitionDuration = "0s";
		    	element.style.height = "5px";
		    	element.style.height = (element.scrollHeight)+"px";
		    }
		}

		function sendMessage(event) {
		    if (event.keyCode == 13) {
		    	message = document.querySelector('.message').value;
		    	username = document.querySelector('#username').classList[0];
		    	channel = document.querySelector('#selected-channel').innerHTML;
		    	let today = new Date();
		    	let date = (today.getMonth()+1)+'-'+today.getDate()+'-'+today.getFullYear();
		    	let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
		    	let dateTime = date+' '+time;
		    	console.log(dateTime)
		    	console.log(username)
		    	console.log(channel)
		    	socket.emit('submit message', [channel, message, username, dateTime])
		        console.log(message)
		        document.querySelector('.message').value = "";
		        resetHeight(document.querySelector('.message'))
		    }
		    else if (document.querySelector('.message').value == ""){
		    	resetHeight(document.querySelector('.message'))
		    }
		}

		function resetHeight(element){
			element.style.transitionDuration = "0.4s";
			element.style.height = "28px";
		}



            
            const nameTemplate = Handlebars.compile(document.querySelector('#name-script').innerHTML);

            const channelsTemplate = Handlebars.compile(document.querySelector('#channels-script').innerHTML);

            const messagesTemplate = Handlebars.compile(document.querySelector('#messages-script').innerHTML);

            document.addEventListener('DOMContentLoaded', () => {
            	if(localStorage.name){
            		document.querySelector('.name-submit-container').outerHTML = "";
            		const content = nameTemplate({'name': localStorage.name});
            		document.querySelector('#greeting').innerHTML += content;
            	}
            	else{
            		document.querySelector('.name-button').onclick = ()  => {
                	//console.log("clicked")
                	let name = document.querySelector('.name-input').value;
                    
                    localStorage.setItem("name", name);
                    // Add roll result to DOM.
                    const content = nameTemplate({'name': name});
                    //console.log(content)
                    document.querySelector('#greeting').innerHTML += content;
                    document.querySelector('.name-submit-container').outerHTML = "";
            		}
            	}
            });

             document.addEventListener('DOMContentLoaded', () => {
             	let channels = {{ channels|safe }}
             	console.log(channels)
            	const content = channelsTemplate({'channels': channels })
            	document.querySelector('.channel-list').innerHTML += content;
            	autoGrow(document.querySelector('.message'))
            });
 
 			document.addEventListener('DOMContentLoaded', () => {
 				let message = document.querySelector('.message');
 				
             	message.oninput = ()  => {
             		autoGrow(message);
             	}

             	//console.log("message")
             	message.onkeyup = ()  => {
             		sendMessage(event);
             	}

            });

            document.addEventListener('DOMContentLoaded', () => {
            	//Checks local storage for selection else defaults to top channel
            	let stored = localStorage.selectedChannel;
            	let channels = {{ channels|safe}}
            	//console.log(channels[stored])
            	if (channels[stored] != null){
            		//CSS.escape used to prevent edgecase errors
            		localStorage.selectedChannel = document.querySelector(`#${CSS.escape(stored)}`).id
            		document.querySelector(`#${CSS.escape(stored)}`).id = "selected-channel";
            	}
            	else{
            		selection = document.querySelector('.channel')
            		localStorage.selectedChannel = selection.id
            		selection.id = "selected-channel";
            	}

            	//.onclicks added to each link allowing the slection to be changed
 				linksClickable()
 				updateMesages(channels)
            });
		
            
        </script>
		
		<div id="greeting">
		</div>
		<div class="name-submit-container">
			<div class="name-submit">
				<input type="text" class="name-input" placeholder="What Should We Call you?">
				<button class="name-button">Submit</button>
			</div>
		</div>
		<div class="channel-create-container">

					<div class="channel-create">
						<input type="text" class="channel-input" placeholder="What channel would you like to make?" >
						<button class="channel-create-button">Create</button>
					</div>
				</div>
		<div class="row">
			<div class="channel-container col-2">
				<div class="channel-list-container">
					<div class="channel-list">
					</div>
				</div>
			</div>
			<div class="chats-container col-10">
				<div class="chats">
				</div>
				<div class="messagebar">
					<textarea rows="1" cols="50" class="message" placeholder="Linskcord Message" ></textarea>
				<div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>