textarea {
	width: 90%;
	overflow-y: scroll;
	resize: none;
	min-height: 28px;
    max-height: 100px;
}

.channel{
	background-color: darkgrey;
	text-align: left;
	padding-left: 20%;
	cursor:pointer
}

.channel:hover, #selected-channel{
	color: blue;
}

.channel-container{
	padding-right: 0px;
}

.chats-container, .messagebar{
	background-color: lightgrey;
}

.sender {
	color: grey;
	font-size: 10pt;
	margin-right: 1%;
}

.sent-message {
	color: black;
	font-size: 18pt;
}

.time {
	color: darkgrey;
	font-size: 10pt;

}